main, footer{
    margin: 1% 1.5%;
}


/* responsive nav */
#navButton{
	z-index:3;
	position:relative;
}

.mobile-nav{
	display: none;
	position:fixed;
	z-index:2;
	padding-top:14em;
}

.mobile-nav .content{
	z-index:1;
	float:none;
	padding-left: 7.5em;
}

.mobile-nav .dropdown:hover{
	min-width: 12em;
}

/* nav bar */
header{
	background-color: #aaaaaa;
}
nav {
	position: relative;
    color: #ffffff;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	float: left;
}

nav li a {
	display: block;
	text-align: center;
    min-width: 8em;
	background-color: #aaaaaa;
	text-decoration: none;
}

nav li a img{
	margin: 0;
}

nav li a:hover{
    background-color: #ff8080;
}

.current{
	background-color:#ff9595;
}

.content {
	display: none;
	position: absolute;
	z-index: 1;
}

.dropdown:hover .content {
	display: block;
}

.eric{
	color:#ffffff;
	font-weight:bold;
	background-color: #a60000;
}


body {
    background-color: #eeeeee;
}

#self{
	float:left;
	margin: 0 1% 1% 0;
}
