main, footer{
    margin: 1% 1.5%;
}


/* responsive nav */
#navButton{
	z-index:3;
	position:relative;
}

.mobile-nav{
	display: none;
	position:fixed;
	z-index:2;
	padding-top:12em;
}

.mobile-nav li a {
	min-width: 10em;
	min-height: 2em;
	font-size:24px;
}

.mobile-nav nav li a:hover{
    background-color: #ff8080;
}

.mobile-nav .content{
	z-index:1;
	float:none;
	padding-left: 12em;
}

.mobile-nav .dropdown li a:hover{
    background-color: #ff8080;
}

.mobile-nav .dropdown:hover{
	min-width: 18em;
}

/* nav bar */
header{
	background-color: #aaaaaa;
	position:fixed;
	z-index: 1;
	width: 100%;
	top: 0;
}
nav {
	position: relative;
    color: #ffffff;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	float: left;
}

nav li a {
	display: block;
	text-align: center;
    min-width: 8em;
	background-color: #aaaaaa;
	text-decoration: none;
}

nav li a img{
	margin: 0;
}

nav li a:hover{
    background-color: #ff8080;
}

.dropdown li a{
	background-color: #999999;
}

.current{
	background-color:#ff9595;
}

.content {
	display: none;
	position: absolute;
	z-index: 1;
}

.dropdown:hover .content {
	display: block;
}

.eric{
	color:#ffffff;
	font-weight:bold;
	background-color: #a60000;
}


body {
    background-color: #eeeeee;
	margin-top:5%;
}

#self{
	float:left;
	margin: 0 1% 1% 0;
}

/*pink*/
.bg-pink{
	background-color: #ff9595;
}

footer{
	position: fixed;
	left: 0;
  	bottom: 0;
	margin: 0;
	padding: 1%;
	background-color: #aaaaaa;
	width: 100%
}